body{
    background-color:#EEEEEE;
}
#newName {
    display: inline-block;
    width: 60%
}
#newCreate {
    margin-left: 10px;
    display: inline-block;
}
.checkbox {
    display: inline-block;
}
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}


li.ui-state-default:last-child{
    border-bottom:none;
}
.note {
    margin: 0 auto;
}
